@using Auction.WebSite.Models;

@model BiddingViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contentHead">A licitálást sikeresen rögzítettük!</div>

<div class="content">A licit összege: <strong>@Model.BiddingAmount</strong> Ft.</div>
